# Iniciando Aplicação

In [3]:
import pandas as pd
df = pd.read_csv('../datasets/kc_house_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

## Exemplos

### Verificar tipos de variáveis em cada coluna

In [5]:
df.dtypes

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object

### converter de objeto ( string ) para data

In [4]:
df.date = pd.to_datetime(data.date)
df.dtypes

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object

# Agrupamento

### Filtrando a partir de 'bedrooms'

In [29]:
df_grouped = df[['id', 'bedrooms']].groupby( 'bedrooms') # pode adicionar .size()

In [28]:
for bedrooms, frame in df_grouped:
    print('Número de quartos: {}'.format(df_grouped.bedrooms))
    print(frame.head(), end= '\n\n')

Número de quartos: <pandas.core.groupby.generic.SeriesGroupBy object at 0x0000022671C10BB0>
              id  bedrooms
875   6306400140         0
3119  3918400017         0
3467  1453602309         0
4868  6896300380         0
6994  2954400190         0

Número de quartos: <pandas.core.groupby.generic.SeriesGroupBy object at 0x0000022671C10B80>
             id  bedrooms
154  7920100045         1
264  2123039032         1
350  7325600160         1
465  8658300340         1
648   922049078         1

Número de quartos: <pandas.core.groupby.generic.SeriesGroupBy object at 0x0000022671C10BB0>
            id  bedrooms
2   5631500400         2
11  9212900260         2
18    16000397         2
23  8091400200         2
31  2426039314         2

Número de quartos: <pandas.core.groupby.generic.SeriesGroupBy object at 0x000002262E851D90>
           id  bedrooms
0  7129300520         3
1  6414100192         3
4  1954400510         3
6  1321400060         3
7  2008000270         3

Número de quartos: <pandas.core.groupby.generic.SeriesGroupBy object at 0x0000022671C104F0>
            id  bedrooms
3   2487200875         4
5   7237550310         4
15  9297300055         4
17  6865200140         4
20  6300500875         4

Número de quartos: <pandas.core.groupby.generic.SeriesGroupBy object at 0x0000022671C10490>
            id  bedrooms
14  1175000570         5
22  7137970340         5
42  7203220400         5
51  7231300125         5
54  4217401195         5

Número de quartos: <pandas.core.groupby.generic.SeriesGroupBy object at 0x0000022671C10790>
             id  bedrooms
209  6300000550         6
232  9264902050         6
239  5152100060         6
331  2946001550         6
486  9286000240         6

Número de quartos: <pandas.core.groupby.generic.SeriesGroupBy object at 0x0000022671C104F0>
              id  bedrooms
556   5486800070         7
1135  4024100951         7
1241  7227802030         7
3721  5451100490         7
4024  9175600025         7

Número de quartos: <pandas.core.groupby.generic.SeriesGroupBy object at 0x0000022671C10BE0>
              id  bedrooms
1660  9126101740         8
4035   685000115         8
4067  7226500100         8
6174  1873400020         8
9077  6746700615         8

Número de quartos: <pandas.core.groupby.generic.SeriesGroupBy object at 0x0000022671C10B50>
               id  bedrooms
4096   1997200215         9
4235   2902200015         9
6079   9822700190         9
8546    424049043         9
16844  8823900290         9

Número de quartos: <pandas.core.groupby.generic.SeriesGroupBy object at 0x0000022671C10790>
               id  bedrooms
13314   627300145        10
15161  5566100170        10
19254  8812401450        10

Número de quartos: <pandas.core.groupby.generic.SeriesGroupBy object at 0x0000022671C10F10>
              id  bedrooms
8757  1773100755        11

Número de quartos: <pandas.core.groupby.generic.SeriesGroupBy object at 0x0000022671C10A30>
               id  bedrooms
15870  2402100895        33