# Launch Application

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('../datasets/kc_house_data.csv')
df.drop(['sqft_living15', 'sqft_lot15'], axis= 1).head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045

In [2]:
df['year'] = pd.to_datetime(doc['date']).dt.year
df[['price', 'date']].groupby( doc['year'] ).sum().reset_index()

NameError: name 'doc' is not defined

# Questions | Answers - Lesson Two

### 1. Cire uma nova coluna chamada: "house_age"
    1.1 - Se o valor da coluna "date" for maior que 2014-01-01 => 'new_house'
    1.2 - Se o valor da coluna "date" for menor que 2014-01-01 => 'old_house'

In [ ]:
data = df['date'] = pd.to_datetime(doc.date) # convertendo tipo da variável

df['house_age'] = 'old_house' # cria nova coluna

df.loc[df['date'] > '2014-01-01', 'house_age'] = 'new_house'


df.sort_values('house_age', ascending=False).head()

### 2. Crie uma nova coluna chamada: 'dormitory_type'
    2.1 - Se o valor da coluna "bedrooms" for igual a 1 => "studio"
    2.2 - Se o valor da coluna "bedrooms" for igual a 2 => "apartament"
    2.3 - Se o valor da coluna "bedrooms" for maior que 2 => "house"

In [ ]:
df['dormitory_type'] = 'kitnet'

df.loc[df['bedrooms'] == 1, 'dormitory_type'] = 'studio'

df.loc[df['bedrooms'] == 2, 'dormitory_type'] = 'apartment'

df.loc[df['bedrooms'] > 2, 'dormitory_type'] = 'house'

df.sort_values('dormitory_type', ascending= True).head()

### 3. Crie uma nova coluna chamada: "condition_type"
    3.1 - Seo valor da coluna "condition" for menor ou igual a 2 => "bad
    3.2 - Se o valor da coluna "condition" for igual a 3 ou 4 => "regular"
    3.3 - Se o valor da coluna "condition" for igual a 5 => "good"

In [ ]:
df['condition_type'] = "bad"

df.loc[doc['condition'] >= 3, 'condition_type'] = 'regular'
df.loc[doc['condition'] > 4, 'condition_type'] = 'good'

df.loc[0:20, ['condition', 'condition_type']]

### 4. Modifique o TIPO da coluna "condition" para STRING

In [ ]:
df.condition.astype('string').head()

### 5. Delete as colunas : "sqft_living15" e sqft_lot15"

In [ ]:
df.drop(['sqft_living15', 'sqft_lot15'], axis= 1).head()

### 6. Modifique o TIPO da coluna "yr_built" para DATE

In [ ]:
doc1 = doc.yr_built = pd.to_datetime(doc.yr_built)

df1 = df['yr_built'].astype('string')

df['yr_built1'] = df1

df['yr_built1'] = pd.to_datetime(df['yr_built1'])

df.loc[0:50, ['id', 'yr_built']]

### 7. Modifique o TIPO da coluna "yr_renovated" para DATE

In [ ]:
pd.set_option('display.float_format', lambda x: '%.0f' % x) # função aletara casas decimais

df['yr_renovated'] = pd.to_datetime(df['yr_renovated'], format= '%Y', errors= 'coerce')

### 8. Qual a data mais antiga de construção de um imóvel ?

In [ ]:
df[['id', 'yr_built1']].sort_values('yr_built1', ascending= True).head()

### 9. Qual a data mais antiga de renovação de um imóvel ?

In [ ]:
df[['id', 'yr_renovated']].sort_values('yr_renovated', ascending= True).head()

### 10. Quantos imóveis tem 2 andares?

In [ ]:
df.loc[df['floors'] == 2.0].shape

### 11. Quantos imóveis estão com a condição igual a "regular"?

In [ ]:
df[df.condition_type == 'regular'].shape

### 12. Quantos imóveis estão com a condição igual a "bad" e possuem "vista para água"?

In [ ]:
df[(df.condition_type == 'bad') & (df.waterfront > 0)].shape

### 13. Quantos imóveis estão com a condição igual a "good" e são "new_house"?

In [ ]:
df[(df.condition_type == 'good') & (df.house_age == 'new_house')].shape

### 14. Qual o valor do imóvel mais caro do tipo "studio"?

In [ ]:
doc3 = df[df.dormitory_type == 'studio']
doc3.price.max()

### 15. Quantos imóveis do tipo "apartment" foram reformados em 2015?

In [ ]:
doc4 = df[df.dormitory_type == 'apartment']
doc4[doc4.yr_renovated == '2015-01-01']

### 16. Qual o maior número de quartos que um imóvel do tipo "house" possui?

In [ ]:
doc5 = df[df.dormitory_type == 'house']
doc6 = doc5.bedrooms.max()
doc6

### 17. Quantos imóveis "new_house" foram reformados no ano de 2014?

In [ ]:
df.loc[(df.house_age == 'new_house')&(df.yr_renovated == '2014-01-01')].shape

### 18. Selecione as colunas: "id", "date", "price", "floors", "zipcode" pelo método:
    18.1 - Direto pelo nome das colunas;
    18.2 - Pelos índices
    18.3 - Pelos índices das linhas e o nome das colunas

In [4]:
df[['id', 'date',"price", "floors", "zipcode"]]

df.iloc[:, [0, 1, 2, 7, 16]]

df.loc[0:3, ['id', 'date',"price", "floors", "zipcode"]]

# n = df.columns.tolist()

# x = [0, 1, 2, 7, 16]

# lista = ['id', 'date',"price", "floors", "zipcode"]

# for i in n:
#     if n[x] == lista
#         nn = n[x]
    
# print(nn)

listabool = []
lista = ['id', 'date', 'price', 'floors', 'zipcode']

for column in df.columns.tolist():
    if column in lista:
        listabool.append(True)
    else:
        listabool.append(False)

print(df.loc[:, listabool])

               id             date     price  floors  zipcode
0      7129300520  20141013T000000  221900.0     1.0    98178
1      6414100192  20141209T000000  538000.0     2.0    98125
2      5631500400  20150225T000000  180000.0     1.0    98028
3      2487200875  20141209T000000  604000.0     1.0    98136
4      1954400510  20150218T000000  510000.0     1.0    98074
...           ...              ...       ...     ...      ...
21608   263000018  20140521T000000  360000.0     3.0    98103
21609  6600060120  20150223T000000  400000.0     2.0    98146
21610  1523300141  20140623T000000  402101.0     2.0    98144
21611   291310100  20150116T000000  400000.0     2.0    98027
21612  1523300157  20141015T000000  325000.0     2.0    98144

[21613 rows x 5 columns]

### 19. Salve um arquivo.csv com somente as colunas do item 10.

### 20. Modifique a cor dos pontos no mapa de "pink" para "verde-escuro"