# Aula 04: Estruturas de controle

### Novas perguntas de negócio

# Imports

In [13]:
import pandas as pd
import numpy as nd
import plotly.express as px
from matplotlib import pyplot as plt

# Launch Application

In [14]:
df = pd.read_csv('../datasets/kc_house_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

# Questions | Answers - Lesson Four


## 1. Qual a quantidade de imóveis por nível?
 - Nivel 0: Preço entre R$ 0.00 e R$ 321.950
 - Nivel 1: Preço entre R$ 321.950 e R$ 450.000
 - Nivel 2: Preço entre R$ 450.000 e R$ 645.000
 - Nivel 3: Preço entre R$ Acima de R$ 645.000

In [15]:
df['nivel'] = '-'

# classificando por nível
nivel_0 = df.loc[df['price'] < 321950, 'nivel'] = 'nivel 0'

nivel_1 = df.loc[(df['price'] >= 321950) & (df['price'] < 450000), 'nivel'] = 'nivel 1'

nivel_2 = df.loc[(df['price'] >= 450000) & (df['price'] < 645000), 'nivel'] = 'nivel 2'

nivel_3 = df.loc[(df['price'] >= 645000), 'nivel'] = 'nivel 3'

# quantidade por nível
qt_nv0 = df.loc[df['nivel'] == 'nivel 0'].shape[0]
qt_nv1 = df.loc[df['nivel'] == 'nivel 1'].shape[0]
qt_nv2 = df.loc[df['nivel'] == 'nivel 2'].shape[0]
qt_nv3 = df.loc[df['nivel'] == 'nivel 3'].shape[0]

In [16]:
print(f'Quantidade de casas nível 0 = {qt_nv0}')
print(f'Quantidade de casas nível 1 = {qt_nv1}')
print(f'Quantidade de casas nível 2 = {qt_nv2}')
print(f'Quantidade de casas nível 3 = {qt_nv3}')

Quantidade de casas nível 0 = 5403
Quantidade de casas nível 1 = 5289
Quantidade de casas nível 2 = 5508
Quantidade de casas nível 3 = 5413

## 2. Adicione as seguintes informações ao imóvel:
 - Nome da Rua
 - Número do imóvel
 - O nome do Bairro
 - O nome da cidade
 - O nome do estado

        - Onde tem essas informações? bliblioteca GEOPY
            - Tem no banco de dados da empresa? - NÃO
            - Tem essas informações fornecidas por uma API? - SIM
            - Dentro de arquivo na pasta do meu colega de trabalho ? - NÃO
            
        - Qual dados temos na base para conseguir fazer link? - LAT E LONG
        - Como coletar esse dado e como anexá-lo no conjunto de dados original ? -

In [17]:
# IMPORTAR A BIBLIOTECA GEOPY NOMINATIM
from geopy.geocoders import Nominatim

In [18]:
# AGORA VAMOS UTILIZAR AGENTE DO NOMINATIM
geolocator = Nominatim (user_agent= 'geoapiExercises')

In [19]:
# PASSAR COORDENADAS DO ENDEREÇO PARA A VARIÁVEL QUE RECEBE O AGENT
response = geolocator.reverse ('47.5112, -122.257')

In [20]:
# VISULIZA OS DADOS DA API
response.raw

{'place_id': 147183522,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'osm_type': 'way',
 'osm_id': 236673600,
 'lat': '47.5112302',
 'lon': '-122.25676111324441',
 'display_name': '10012, 61st Avenue South, Rainier Beach, Seattle, King County, Washington, 98178, United States',
 'address': {'house_number': '10012',
  'road': '61st Avenue South',
  'neighbourhood': 'Rainier Beach',
  'city': 'Seattle',
  'county': 'King County',
  'state': 'Washington',
  'postcode': '98178',
  'country': 'United States',
  'country_code': 'us'},
 'boundingbox': ['47.511189', '47.5112943', '-122.2568571', '-122.2566651']}

In [21]:
# EXTRAINDO DADOS DO ENDEREÇO
response.raw['address']

{'house_number': '10012',
 'road': '61st Avenue South',
 'neighbourhood': 'Rainier Beach',
 'city': 'Seattle',
 'county': 'King County',
 'state': 'Washington',
 'postcode': '98178',
 'country': 'United States',
 'country_code': 'us'}

In [22]:
# EXTRAINDO VALORES INDIVIDUAIS
response.raw['address']['house_number']
response.raw['address']['road']
response.raw['address']['neighbourhood']
response.raw['address']['city']
response.raw['address']['country']
response.raw['address']['state']

'Washington'

In [23]:
# CRIANDO NOVAS COLUNAS NO DATAFRAME
df['house_number'] = 'NA'
df['road'] = 'NA'
df['neighbourhood'] = 'NA'
df['city'] = 'NA'
df['country'] = 'NA'
df['state'] = 'NA'

In [24]:
# ADICIONANDO OS VALORES DE CADA ENDEREÇO
df.loc[0, 'house_number']   = response.raw['address']['house_number']
df.loc[0, 'road']           = response.raw['address']['road']
df.loc[0, 'neighbourhood']  = response.raw['address']['neighbourhood']
df.loc[0, 'city']           = response.raw['address']['city']
df.loc[0, 'country']        = response.raw['address']['country']
df.loc[0, 'state']          = response.raw['address']['state']

In [26]:
# ADICIONANDO VALORES AUTOMATICO
for i in range( len(df)):
    """ ideia é concatenar as cooredenadas lat e long """
    # IMPRIMA NA TELA O PROGRESSO
    print ('Loop {} / {}'.format(i, len(df)))
    # CRIANDO VARIÁVEL QUERY, PASSAMOS A CONCATENAÇÃO
    query = str(df.loc[i, 'lat']) + ',' + str(df.loc[i, 'long'])
    # API Request
    response = geolocator.reverse (query)

Loop 0 / 21613
Loop 1 / 21613
Loop 2 / 21613
Loop 3 / 21613
Loop 4 / 21613
Loop 5 / 21613
Loop 6 / 21613
Loop 7 / 21613
Loop 8 / 21613
Loop 9 / 21613
Loop 10 / 21613
Loop 11 / 21613
Loop 12 / 21613
Loop 13 / 21613
Loop 14 / 21613
Loop 15 / 21613
Loop 16 / 21613
Loop 17 / 21613
Loop 18 / 21613
Loop 19 / 21613
Loop 20 / 21613
Loop 21 / 21613
Loop 22 / 21613
Loop 23 / 21613
Loop 24 / 21613
Loop 25 / 21613
Loop 26 / 21613
Loop 27 / 21613
Loop 28 / 21613
Loop 29 / 21613
Loop 30 / 21613
Loop 31 / 21613
Loop 32 / 21613
Loop 33 / 21613
Loop 34 / 21613
Loop 35 / 21613
Loop 36 / 21613
Loop 37 / 21613
Loop 38 / 21613
Loop 39 / 21613
Loop 40 / 21613
Loop 41 / 21613
Loop 42 / 21613

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.


KeyboardInterrupt

In [ ]:
# ADICIONANDO OS VALORES DE CADA ENDEREÇO
df.loc[1, 'house_number']   = response.raw['address']['house_number']
df.loc[1, 'road']           = response.raw['address']['road']
df.loc[1, 'neighbourhood']  = response.raw['address']['neighbourhood']
df.loc[1, 'city']           = response.raw['address']['city']
df.loc[1, 'country']        = response.raw['address']['country']
df.loc[1, 'state']          = response.raw['address']['state']

    
## 3. Adicione o nível do imóvel no mapa como uma cor

## 4. Adicione o preço do imóvel como o tamanho do ponto no mapa

## 5. Adicione opções de filtros para fazer as próprias análises
  - Eu quero escolher visualizar imóveis com vista para água ou não
  - Eu quero escolher visualizar imóveis até um certo valor de preço

## 6. Adicionar opções de filtros no últimos dashboard enviado:
   - Visualizar somente valores a partir de uma data disponível para compra