# Launch Application

In [27]:
import pandas as pd
import numpy as np

doc = pd.read_csv('../datasets/kc_house_data.csv')
doc.drop(['sqft_living15', 'sqft_lot15'], axis= 1).head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045

# Questions | Answers - Lesson Two

### 1. Cire uma nova coluna chamada: "house_age"
    1.1 - Se o valor da coluna "date" for maior que 2014-01-01 => 'new_house'
    1.2 - Se o valor da coluna "date" for menor que 2014-01-01 => 'old_house'

In [28]:
data = doc['date'] = pd.to_datetime(doc.date) # convertendo tipo da variável
doc['house_age'] = 'old_house' # cria nova coluna

doc.loc[doc['date'] > '2014-01-01', 'house_age'] = 'new_house'


doc.sort_values('house_age', ascending=False)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,house_age
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,new_house
14406,1562100220,2015-05-01,605000.0,6,2.00,2610,9132,1.0,0,0,...,1320,1290,1965,0,98007,47.6220,-122.140,2170,8000,new_house
14414,1545807920,2014-10-15,245000.0,3,1.75,1260,8614,1.0,0,0,...,1260,0,1985,0,98038,47.3586,-122.056,1600,8614,new_house
14413,7524950730,2015-03-27,653675.0,4,2.25,2280,7229,2.0,0,0,...,2280,0,1984,0,98027,47.5609,-122.081,2320,7735,new_house
14412,2592220040,2014-07-24,974350.0,4,2.50,3090,10730,2.0,0,0,...,2420,670,1985,0,98006,47.5458,-122.141,2220,7875,new_house
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7203,2927600630,2015-04-16,995000.0,4,3.50,2780,9550,2.0,0,4,...,2530,250,1978,0,98166,47.4540,-122.373,2724,10634,new_house
7202,8901000143,2014-11-25,500000.0,4,4.50,2690,7350,1.5,0,0,...,2690,0,1949,0,98125,47.7062,-122.311,1660,9000,new_house
7201,6868200029,2014-09-29,467500.0,3,1.75,2260,8512,1.0,0,0,...,1130,1130,1948,0,98125,47.7129,-122.304,2240,8040,new_house
7200,3629890190,2014-06-06,1300000.0,4,4.00,4270,6002,2.0,0,3,...,3180,1090,2004,0,98029,47.5443,-121.994,4280,5942,new_house
21612,1523300157,2014-10-15,325000.0,2,0.75,1020,1076,2.0,0,0,...,1020,0,2008,0,98144,47.5941,-122.299,1020,1357,new_house

### 2. Crie uma nova coluna chamada: 'dormitory_type'
    2.1 - Se o valor da coluna "bedrooms" for igual a 1 => "studio"
    2.2 - Se o valor da coluna "bedrooms" for igual a 2 => "apartament"
    2.3 - Se o valor da coluna "bedrooms" for maior que 2 => "house"

In [29]:
doc['dormitory_type'] = ''

doc.loc[doc['bedrooms'] == 1, 'dormitory_type'] = 'studio'

doc.loc[doc['bedrooms'] == 2, 'dormitory_type'] = 'apartment'

doc.loc[doc['bedrooms'] > 2, 'dormitory_type'] = 'house'

doc.sort_values('dormitory_type', ascending= True)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,house_age,dormitory_type
4868,6896300380,2014-10-02,228000.0,0,1.00,390,5900,1.0,0,0,...,0,1953,0,98118,47.5260,-122.261,2170,6000,new_house,
9854,7849202190,2014-12-23,235000.0,0,0.00,1470,4800,2.0,0,0,...,0,1996,0,98065,47.5265,-121.828,1060,7200,new_house,
12653,7849202299,2015-02-18,320000.0,0,2.50,1490,7111,2.0,0,0,...,0,1999,0,98065,47.5261,-121.826,1500,4675,new_house,
3467,1453602309,2014-08-05,288000.0,0,1.50,1430,1650,3.0,0,0,...,0,1999,0,98125,47.7222,-122.290,1430,1650,new_house,
19452,3980300371,2014-09-26,142000.0,0,0.00,290,20875,1.0,0,0,...,0,1963,0,98024,47.5308,-121.888,1620,22850,new_house,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7017,203100460,2014-09-24,400000.0,1,1.00,530,13679,1.0,0,0,...,0,1949,0,98053,47.6422,-121.954,1930,20624,new_house,studio
4832,2591010290,2014-05-19,285000.0,1,1.50,810,3211,2.0,0,0,...,0,1982,0,98033,47.6939,-122.184,1320,3298,new_house,studio
264,2123039032,2014-10-27,369900.0,1,0.75,760,10079,1.0,1,4,...,0,1936,0,98070,47.4683,-122.438,1230,14267,new_house,studio
9820,3598600049,2014-10-03,124000.0,1,0.75,840,7203,1.5,0,0,...,0,1949,0,98168,47.4756,-122.301,1560,8603,new_house,studio
12209,4031000520,2014-11-25,227000.0,1,2.00,1150,9812,1.0,0,0,...,0,1962,0,98001,47.2951,-122.284,1200,9812,new_house,studio

### 3. Crie uma nova coluna chamada: "condition_type"
    3.1 - Seo valor da coluna "condition" for menor ou igual a 2 => "bad
    3.2 - Se o valor da coluna "condition" for igual a 3 ou 4 => "regular"
    3.3 - Se o valor da coluna "condition" for igual a 5 => "good"

In [30]:
doc['condition_type'] = "bad"

doc.loc[doc['condition'] >= 3, 'condition_type'] = 'regular'
doc.loc[doc['condition'] > 4, 'condition_type'] = 'good'

doc.loc[0:20, ['condition', 'condition_type']]

    condition condition_type
0           3        regular
1           3        regular
2           3        regular
3           5           good
4           3        regular
5           3        regular
6           3        regular
7           3        regular
8           3        regular
9           3        regular
10          3        regular
11          4        regular
12          4        regular
13          4        regular
14          3        regular
15          3        regular
16          3        regular
17          4        regular
18          4        regular
19          4        regular
20          4        regular

### 4. Modifique o TIPO da coluna "condition" para STRING

In [31]:
doc.condition.astype('string')

0        3
1        3
2        3
3        5
4        3
        ..
21608    3
21609    3
21610    3
21611    3
21612    3
Name: condition, Length: 21613, dtype: string

### 5. Delete as colunas : "sqft_living15" e sqft_lot15"

In [32]:
doc.drop(['sqft_living15', 'sqft_lot15'], axis= 1)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,house_age,dormitory_type,condition_type
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,new_house,house,regular
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,new_house,house,regular
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,new_house,apartment,regular
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,new_house,house,good
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,new_house,house,regular
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,2014-05-21,360000.0,3,2.50,1530,1131,3.0,0,0,...,1530,0,2009,0,98103,47.6993,-122.346,new_house,house,regular
21609,6600060120,2015-02-23,400000.0,4,2.50,2310,5813,2.0,0,0,...,2310,0,2014,0,98146,47.5107,-122.362,new_house,house,regular
21610,1523300141,2014-06-23,402101.0,2,0.75,1020,1350,2.0,0,0,...,1020,0,2009,0,98144,47.5944,-122.299,new_house,apartment,regular
21611,291310100,2015-01-16,400000.0,3,2.50,1600,2388,2.0,0,0,...,1600,0,2004,0,98027,47.5345,-122.069,new_house,house,regular
21612,1523300157,2014-10-15,325000.0,2,0.75,1020,1076,2.0,0,0,...,1020,0,2008,0,98144,47.5941,-122.299,new_house,apartment,regular

### 6. Modifique o TIPO da coluna "yr_built" para DATE

In [33]:
doc1 = doc.yr_built = pd.to_datetime(doc.yr_built)
doc1.head()

0   1970-01-01 00:00:00.000001955
1   1970-01-01 00:00:00.000001951
2   1970-01-01 00:00:00.000001933
3   1970-01-01 00:00:00.000001965
4   1970-01-01 00:00:00.000001987
Name: yr_built, dtype: datetime64[ns]

### 7. Modifique o TIPO da coluna "yr_renovated" para DATE

doc['condition_type'] = "bad"

doc.loc[doc['condition'] >= 3, 'condition_type'] = 'regular'
doc.loc[doc['condition'] > 4, 'condition_type'] = 'good'

doc.loc[0:20, ['condition', 'condition_type']]

In [48]:
# doc.yr_renovated = pd.to_datetime(doc.yr_renovated, format= "%Y-%m-%d", errors= 'coerce')
# doc.yr_renovated.head()
doc.yr_renovated.dt.year

AttributeError: Can only use .dt accessor with datetimelike values

### 8. Qual a data mais antiga de construção de um imóvel ?

In [35]:
doc[['id', 'yr_built']].sort_values('yr_built', ascending= True).head()

               id                      yr_built
4697   9126101645 1970-01-01 00:00:00.000001900
2961   1947300115 1970-01-01 00:00:00.000001900
12369  9138100350 1970-01-01 00:00:00.000001900
15016  1703400585 1970-01-01 00:00:00.000001900
5236    844000425 1970-01-01 00:00:00.000001900

### 9. Qual a data mais antiga de renovação de um imóvel ?

In [36]:
doc[['id', 'yr_renovated']].sort_values('yr_renovated', ascending= True).head()

               id  yr_renovated
0      7129300520             0
14285  5566100145             0
14284  7192800145             0
14283  1788800610             0
14282  7504010760             0

### 10. Quantos imóveis tem 2 andares?

In [37]:
doc.loc[doc['floors'] == 2.0].shape

(8241, 24)

### 11. Quantos imóveis estão com a condição igual a "regular"?

In [38]:
doc[doc.condition_type == 'regular'].shape

(19710, 24)

### 12. Quantos imóveis estão com a condição igual a "bad" e possuem "vista para água"?

In [39]:
doc[(doc.condition_type == 'bad') & (doc.waterfront > 0)].shape

(2, 24)

### 13. Quantos imóveis estão com a condição igual a "good" e são "new_house"?

In [40]:
doc[(doc.condition_type == 'good') & (doc.house_age == 'new_house')].shape

(1701, 24)

### 14. Qual o valor do imóvel mais caro do tipo "studio"?

In [41]:
doc3 = doc[doc.dormitory_type == 'studio']
doc3.price.max()

1247000.0

### 15. Quantos imóveis do tipo "apartment" foram reformados em 2015?

In [42]:
doc4 = doc[doc.dormitory_type == 'apartment']
doc4[doc4.yr_renovated == '2015-01-01']

Empty DataFrame
Columns: [id, date, price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, lat, long, sqft_living15, sqft_lot15, house_age, dormitory_type, condition_type]
Index: []

[0 rows x 24 columns]

### 16. Qual o maior número de quartos que um imóvel do tipo "house" possui?

In [43]:
doc5 = doc[doc.dormitory_type == 'house']
doc6 = doc5.bedrooms.max()
doc6

33

### 17. Quantos imóveis "new_house" foram reformados no ano de 2014?

In [44]:
# doc.loc[(doc.house_age == 'new_house')&(doc.yr_renovated == '2014-01-01')].shape

### 18. Selecione as colunas: "id", "date", "price", "floors", "zipcode" pelo método:
    18.1 - Direto pelo nome das colunas;
    18.2 - Pelos índices
    18.3 - Pelos índices das linhas e o nome das colunas

### 19. Salve um arquivo.csv com somente as colunas do item 10.

### 20. Modifique a cor dos pontos no mapa de "pink" para "verde-escuro"