# Imports

In [159]:
import pandas as pd
import numpy as np
import plotly.express as px

from matplotlib import pyplot as plt

# Launch Aplication

In [144]:
df = pd.read_csv('../datasets/kc_house_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.00,3,1.00,1180,5650,1.00,0,0,...,7,1180,0,1955,0,98178,47.51,-122.26,1340,5650
1,6414100192,20141209T000000,538000.00,3,2.25,2570,7242,2.00,0,0,...,7,2170,400,1951,1991,98125,47.72,-122.32,1690,7639
2,5631500400,20150225T000000,180000.00,2,1.00,770,10000,1.00,0,0,...,6,770,0,1933,0,98028,47.74,-122.23,2720,8062
3,2487200875,20141209T000000,604000.00,4,3.00,1960,5000,1.00,0,0,...,7,1050,910,1965,0,98136,47.52,-122.39,1360,5000
4,1954400510,20150218T000000,510000.00,3,2.00,1680,8080,1.00,0,0,...,8,1680,0,1987,0,98074,47.62,-122.05,1800,7503

# Questions | Answers - Lesson Three

### 1. Crie uma nova coluna chamada : "dormitory_type"
    1.1 - Se o valor da coluna "bedrooms" for igual à 1 => "studio"
    1.2 - Se o valor da coluna 'bedrooms' for igual a 2 => 'apartament'
    1.3 - Se o valor da coluna 'bedrooms' for maior que 2 => 'house'

In [145]:
df ['dormitory_type'] = 'vazio' 

df.loc[df['bedrooms'] < 1, 'dormitory_type'] = 'kitnet' 
df.loc[df['bedrooms'] > 2, 'dormitory_type'] = 'house'

df.loc[df['bedrooms'] == 1, 'dormitory_type'] = 'studio'
df.loc[df['bedrooms'] == 2, 'dormitory_type'] = 'apartament'

df.loc[0:30, ['bedrooms', 'dormitory_type']]

    bedrooms dormitory_type
0          3          house
1          3          house
2          2     apartament
3          4          house
4          3          house
5          4          house
6          3          house
7          3          house
8          3          house
9          3          house
10         3          house
11         2     apartament
12         3          house
13         3          house
14         5          house
15         4          house
16         3          house
17         4          house
18         2     apartament
19         3          house
20         4          house
21         3          house
22         5          house
23         2     apartament
24         3          house
25         3          house
26         3          house
27         3          house
28         3          house
29         4          house
30         3          house

### 2. Faça um gráfico de barras que represente a soma dos preços pelo número de quartos.

In [160]:



sum_price = df[['price', 'bedrooms']].groupby('bedrooms').sum().reset_index()

plt.bar(sum_price['bedrooms'], sum_price['price'])

TypeError: 'tuple' object is not callable

### 3. Faça um gráfico de linhas que represente a média dos preços pelo ano de construção dos imóveis.

In [146]:
pd.set_option('display.float_format', lambda x: '%0.2f' %x )

df['year_built'] = df['yr_built']

med_ano = df[['price', 'yr_built']].groupby('year').mean().reset_index()

med_ano.loc[med_ano['year'] == 2014]

KeyError: 'year'

### 4. Faça um gráfico de barras que represente a média dos preços pelo tipo dos dormitórios.

### 5. Faça um gráfico de linha que mostre a evolução da média dos preços pelo ano da reforma dos imóveis, a partir do ano de 1930.

### 6. Faça uma tabela que mostre a média dos preços por ano de construção e tipo de dormitórios dos imóveis.

### 7. Crie um Dashboard com os gráficos das questões 02, 03, 04 ( Dashboard: 1 Linha e 2 colunas )

### 8. Crie um Dashboard com os gráficos das perguntas 02, 04 ( Dashboard: 2 colunas )

### 9. Crie um Dashboard com os gráficos das perguntas 03, 05 ( Dashboard: 2 linhas )

### 10. Crie um gráfico com o tamanho dos pontos sendo igual ao tamanho da sala de estar.